# media folder with the images
media/
static/

# database file
db.sqlite3

# virtualenv and its files
venv

# pycache files
*.pyc

.vscode/

blog/__pycache__/
blog/migrations/
cadmin/__pycache__/
cadmin/migrations/
ludblog/__pycache__/
users/__pycache__/
users/migrations/