{% load static %}
<div class="navbar shadow-md p-4 flex justify-between items-center w-full bg-white fixed top-0 left-0 right-0 z-10">
    <div class="flex items-center space-x-4">
        <button class="lg:hidden p-2" onclick="toggleSidebar()">☰</button>
        <img src="{% static 'image/let_us_dream_logo.png' %}" alt="Logo" class="h-8">
        <div class="flex flex-col">
            <span class="text-black font-bold text-lg">Let Us Dream</span>
            <span class="text-gray-500 text-sm">Blogs</span>
        </div>
    </div>
</div>
