{% load static %}
<link href="https://bootswatch.com/5/minty/bootstrap.min.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: lightblue;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'blog-home' %}">
            <img src="{% static 'asset/admin/img/1668180080571.jpg' %}" alt="logo" style="height: 50px; border-radius: 50%; margin-left: 10%;" />
          </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand text-blue" href="{% url 'blog-index' %}">
            <h3 style="font-family: -apple-system, BlinkMacSystemFont;font-size: xxx-large;">Let us Dream Blogs</h3>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                
                {% if request.user.is_authenticated %}
                <li class="nav-item" style="padding-right: 30px;font-size: larger;">
                    <a class="nav-link" href="{% url 'blog-home' %}">Home</a>
                </li>
                <li class="nav-item" style="padding-right: 30px;font-size: larger;">
                    <a class="nav-link" href="{% url 'blog-index' %}">My Posts</a>
                </li>
                <li class="nav-item" style="padding-right: 30px;font-size: larger;">
                    <a class="nav-link" href="{% url 'blog-create_post' %}">Create Blogs</a>
                </li>
                <li class="nav-item" style="padding-right: 30px;font-size: larger;">
                    <a class="nav-link" href="{% url 'archived-posts' %}">Archived Posts</a> <!-- Added Archived Posts link -->
                </li>
                <li class="nav-item" style="padding-right: 30px;font-size: larger;">
                    <a class="nav-link text-blue" href="{% url 'users-profile' %}">Profile</a>
                </li>
                <li class="nav-item" style="padding-right: 30px;font-size: larger;">
                    <a class="nav-link text-blue" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item" style="padding-right: 40px;font-size: larger;">
                    <a class="nav-link text-blue" href="{% url 'blog-home' %}">Home</a>
                </li>
                <li class="nav-item" style="padding-right: 40px;font-size: larger;">
                    <a class="nav-link text-blue" href="{% url 'user_user_login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
