{% extends 'partials/base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
{% load static %}
<div class="container" style="padding-top: 50px;">
    <div class="row mt-5 pt-3">
        {% if page_obj %}
        {% for post in page_obj %}
        <div class="col-md-6 mb-4">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="{{ post.author.profilemodel.image.url }}" alt="img" style="height:130px; width: 150px; margin-left: 20px;">
                            <p class="text-center" style="margin-top: 10px;">{{ post.author.username }}</p>
                        </div>
                        <div class="col-md-8">
                            <small>{{ post.date_created }}</small>
                            <hr>
                            <a class="h3" href="{% url 'blog-post-detail' post.id %}">{{ post.title }}</a>
                            <p class="text-justify my-3">
                                {{ post.content|truncatewords:30|safe }}
                                {% if post.content|length > 30 %}
                                <a href="{% url 'blog-post-detail' post.id %}">Read More</a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <a class="btn btn-success btn-sm float-right" href="{% url 'blog-post-unarchive' post.id %}">Unarchive</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h3>no archived post available</h3>
        {% endif %}
    </div>
</div>
{% endblock %}
