{% extends 'partials/body.html' %}
{% block title %}Recent Posts Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row mt-5 pt-3">
        <!-- Heading on the left -->
        <div class="col-md-3 order-md-1">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h3>RECENT BLOG POSTS</h3>  
                </div>
            </div>
        </div>
        
        <!-- Posts on the right -->
        <div class="col-md-8 order-md-2 offset-md-1">
            {% for post in posts %}
            <div class="card shadow my-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="{{ post.author.profilemodel.image.url }}" alt="img">
                        </div>
                        <div class="col-md-8">
                            <small>{{ post.date_created }}</small>
                            <hr>
                            <a class="h3" href="{% url 'users-sign-up' %}">{{ post.title }}</a>
                            <p class="text-justify my-3">
                                {{ post.content }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
