{% extends 'partials/base.html' %}
{% block title %}Post Edit page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container" style="padding-top: 60px;">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                          <label for="title">Title</label>
                          <input type="text" name="title" id="title" class="form-control" placeholder="Enter Title" required value="{{ post.title }}">
                        </div>
                        <div class="form-group">
                          <label for="content">Content</label>
                          <textarea name="content" id="content" class="form-control" rows="5" placeholder="Enter Content" required>{{ post.content }}</textarea>
                        </div>
                        <div class="form-group">
                          <label for="category">Category</label>
                          <select name="category" id="category" class="form-control">
                            <option value="{{post.category.id}}"  selected>{{post.category}}</option>
                            {% for category in all %}
                              <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Submit</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
