{% extends 'partials/base.html' %}
{% block title %}Request here...{% endblock %}
{% block content %}
<link href="https://bootswatch.com/5/minty/bootstrap.min.css" rel="stylesheet">

<div class="cover d-flex justify-content-center align-items-center" style="height: 100vh; background: none;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card my-3 shadow">
                    <div class="card-body">
                        <h4>Apply for your account here...</h4>
                        <hr>
                        {% if msg %}
                        <ul>
                            <li style="color: red;">{{ msg }}</li>
                        </ul>
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            <label for="username">Name</label>
                            <input type="text" name="name" id="username" required class="form-control mb-3">
                            
                            <label for="password">Email</label>
                            <input type="email" name="email" id="password" required class="form-control mb-3">
                            
                            <button type="submit" class="btn btn-primary btn-block">Send</button>
                        </form>
                        <hr>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
